.advantages {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: @black;
}

.advantages__list-title {
  font-size: 25px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.advantages__list {
  .reset-list();

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.advantages__item {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    width: 55px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--material::before {
    top: -55px;
    left: -2px;
    background-image: url("../img/material.svg");
  }

  &--cash::before {
    top: -57px;
    left: -2px;
    background-image: url("../img/cash.svg");
  }

  &--like::before {
    top: -53px;
    left: -2px;
    background-image: url("../img/like.svg");
  }

  &--handmade::before {
    top: -53px;
    left: -5px;
    background-image: url("../img/handmade.svg");
  }

  &--domestic::before {
    top: -57px;
    left: -5px;
    background-image: url("../img/domestic.svg");
  }

  &--wrapping::before {
    top: -54px;
    left: -7px;
    background-image: url("../img/wrapping.svg");
  }
}
