.catalog {
  background-color: @white;
}

.catalog__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: @black;
  background-color: @neutral;
}

.catalog__list {
  .reset-list();
}
