.form-main {
  background-color: @white;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 19px;
  }
}

.form-main__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: @black;
  background-color: @neutral;


  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.form-main__description {
  font-size: 13px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}
