.catalog-part {
  background-color: @light;
}

.catalog-part__title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: @black;

  background-image: url("../img/hero-mobile.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {

    height: 746px;
    font-size: 43px;
    line-height: 50px;
    background-image: url("../img/hero-tablet.png");
  }
  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    background-image: url("../img/hero-desktop.png");
  }
}

.catalog-part__list {
  .reset-list();
}

.catalog-part__item {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: @white;

  &--decor {
    background-color: @tiffany;
  }

  &--toys {
    background-color: @dark-tiffany;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.catalog-part__item a {
  .reset-link();
}
