.modal-order {
  display: none;
  top: 0;
  left: 0;
  background-color: @modal-white-opacity;
  position: fixed;

  width: 100%;
  height: 100%;
  z-index: 10;
}

.modal-order__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 258px;
  padding: 30px 30px 46px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: @white;
  border: 1px solid @shadow-gray;
  box-shadow: 0 5px 10px @dark-shadow;

  @media (min-width: @tablet-width) {
    width: 364px;
    height: 241px;
    padding: 45px 100px 48px;
  }
}

.modal-order__title {
  color: @black;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 48px;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 57px;
    margin: 0 0 11px 0;
    padding: 0;
  }
}

.modal-order__form {
  font-size: 15px;
  line-height: 30px;

  margin: 0 30px;

  @media (min-width: @tablet-width) {
    width: 348px;
    font-size: 17px;
    margin: 0;
  }
}

.modal-order__choice legend {
  text-align: center;
}

.modal-order__choice {
  border: none;
  margin: 0;
  padding: 0;
}

.choice-size__list {
  .reset-list();

  display: flex;
  margin: 21px 0 31px;
}

.choice-size__item {

  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }
}

.choice-size__radio + label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 48px;
  border: 2px solid @border-gray;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 108px;
  }
}

.choice-size__radio:last-child + label {
  margin-right: 0;
}

.choice-size__radio:hover + label {
  border-color: @border-dark-gray;
}

.choice-size__radio:checked + label {
  border-color: @tiffany;
}

.modal-order__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 52px;
  margin: 0;
  padding: 18px;
  font-size: 17px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    width: 350px;
  }
}
