.modal-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 258px;
  text-align: center;
  border: 1px solid @shadow-gray;
  box-shadow: 0 5px 10px @dark-shadow;
}

.modal-order__title {
  color: @black;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 50px 14px ;
}

.modal-order__choice {
  border: none;
  margin: 0;
  padding: 0;
}

.choice-size__title {
  font-size: 15px;
  line-height: 30px;
}

.choice-size__list {
  .reset-list();
  display: flex;
  margin: 21px 0 31px;
}

.choice-size__radio + label {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 82px;
  height: 52px;
  margin-right: 7px;

  border: 2px solid @border-gray;
    cursor: pointer;
}

.choice-size__radio:checked + label {
  border-color: @tiffany;
}

.modal-order__button {
  width: 260px;
  height: 52px;
  padding: 18px;
  margin-bottom: 16px ;

  font-size: 17px;
  line-height: 16px;
}
