.option {
  border: none;
  border-top: solid 1px @light-tiffany;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.option__list {
  .reset-list();
}

.option__legend {
  line-height: 16px;
  color: @tiffany;
  text-transform: uppercase;
  font-weight: 700;
}

.option__label {
  font-weight: 700;
  color: @black;
}

.option__input {
  border: none;
  border-bottom: solid 2px @black;
  background-color: inherit;

  &::placeholder {
    color: @black;
    opacity: 0.3;
  }
}

.option__textarea {
  resize: none;
  font: inherit;
  border: solid 2px @black;

  &::placeholder {
    color: @black;
    opacity: 0.3;
  }
}
