.page-footer {
  background-color: @neutral;
}

.page-footer__logo {
  fill: @black;
  .hover-footer-svg();
}

.page-footer__copyright {
  color: @black;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link {
  fill: @tiffany;
  .hover-footer-svg();
}

.social__list {
  .reset-list();
}

.social__link {
  fill: @black;
  .hover-footer-svg();
}
