.production {
  border: 1px solid @neutral;
}

.production__title {
  font-size: 17px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.production__movie {
  width: 260px;
  height: 150px;

  background-image: url("../../../img/video-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 668px;
    height: 455px;
    background-image: url("../../../img/video-tablet.jpg");
  }

  @media (min-width: @desktop-width) {
    margin-right: 78px;
    width: 683px;
    height: 455px;
    background-image: url("../../../img/video-desktop.jpg");
  }
}

.production__play-movie {
  display: none;

  width: 101px;
  height: 77px;
  margin: 0;
  padding: 0;

  border: none;
  background-image: url("../../img/play.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.production__button {
  .reset-link();
}
