.product__title {
  grid-area: title;
  z-index: 3;

  margin-right: 5px;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.product__weeks {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: @tiffany;

  @media (min-width: @tablet-width) {
    line-height: 17px;
    text-align: center;
  }
}

.product__description {
  font-size: 15px;
  line-height: 24px;

  @media (min-width:@tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.product__features-list {
  font-size: 15px;
  line-height: 20px;
}

.product__price {
  font-size: 17px;
  line-height: 24px;

  @media (min-width:@tablet-width) {
    font-size: 20px;
  }
}

.product__button {
  font-size: 18px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}
