.product-cart {
  border: 1px solid @neutral;

  &:hover {
    box-shadow: 0 6px 10px @border-black;
  }

  &:active {
    box-shadow: 0 3px 5px @border-black;
  }
}

.product-cart a {
  .reset-link();
}

.product-cart__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @black;
}

.product-cart__title a {
  .hover-title();
}

.product-cart__features {
  font-size: 13px;
  line-height: 30px;
}

.product-cart__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.product-cart__open-modal {
  border: none;
  background-color: inherit;
  cursor: pointer;

  .hover-icon-svg();
}

.product-cart__image a {
  display: block;
}

.product-cart__image img {
  display: block;
}
