.production {
  border: 1px solid @neutral;
}

.production__title {
  margin: 0;
  min-height: 96px;
  padding: 12px;
  padding-left: 90px;
}

.production__play-movie {
  border: none;
  margin: 0;
  padding: 0;
  width: 101px;
  height: 77px;
  background-image: url("../../img/play.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.production__button {
  .reset-link();
}
