.product__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
  color: @black;
}

.product__weeks {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: @tiffany;
}

.product__description {
  font-size: 15px;
  line-height: 24px;
}

.product__features-list {
  font-size: 15px;
  line-height: 20px;
}

.product__features-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 39px;
  border-bottom: solid 1px @shadow;
}

.product__price {
  font-weight: 700;
}

.product__button {
  padding: 16px;
  width: 260px;
  height: 52px;
  font-size: 18px;
  line-height: 20px;
}
