.reviews {
  line-height: 30px;
  font-size: 15px;
}

.reviews__title {
  font-size: 25px;
  font-weight: 700;
  color: @black;
}

.reviews__author-name {
  color: @black;
  font-size: 17px;
  font-weight: 700;
}

.reviews__button{
  .reset-link();
  padding: 16px;
  width: 224px;
  height: 20px;
  font-size: 18px;
  line-height: 20px;
}
