.reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-link() {
  text-decoration: none;
  color: inherit;
}

.padding-mobile() {
  padding: 0 30px;
}

.padding-tablet() {
  padding: 0 50px;
}

.wrapper-desktop() {
  max-width: 1150px;
  margin: 0 auto;
}

.zigzag-fill() {
  @media (min-width: @tablet-width) {
    background-image: url("../../../img/zigzag-fill-tablet.svg");
    background-position: 50% 100%;
    background-repeat: repeat-x;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../../img/zigzag-fill-desktop.svg");
  }
}

.zigzag-line() {
  @media (min-width: @tablet-width) {
    background-image: url("../../../img/zigzag-line-tablet.svg");
    background-position: 50% 100%;
    background-repeat: repeat-x;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../../img/zigzag-line-desktop.svg");
  }
}

.hover-svg() {
  &:hover path {
    fill: @dark-mint;
  }

  &:active path {
    fill: @dark-mint-opacity;
  }
}

.hover-icon-svg() {
  &:hover path {
    fill: @tiffany;
    opacity: 1;
  }

  &:active path {
    fill: @tiffany-opacity;
  }
}


.opacity(@color; @opacity) {
  color: @color;
  opacity: @opacity;
}

.hover-title() {
  &:hover {
    .opacity(@black; 60%);
  }

  &:focus {
    .opacity(@black, 30%);
  }
}
