.reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-link() {
  text-decoration: none;
  color: inherit;
}

.padding-mobile() {
  padding: 0 30px;
}

.padding-tablet() {
  padding: 0 50px;
}

.wrapper-desktop() {
  max-width: 1050px;
  margin: 0 auto;
}

.zigzag-fill() {
  position: relative;

  &::before {
    @media (min-width: @tablet-width) {
      position: absolute;
      content: "";
      bottom: -12px;
      left: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/zigzag-fill-tablet.svg");
      background-position: 50% 100%;
      background-repeat: repeat-x;
      z-index: 2;
    }

    @media (min-width: @desktop-width) {
      bottom: -17px;
      height: 36px;
      background-image: url("../img/zigzag-fill-desktop.svg");
    }
  }
}

.zigzag-line() {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/zigzag-line-mobile.svg");
    background-position: 50% 100%;
    background-repeat: repeat-x;
    z-index: 2;

    @media (min-width: @tablet-width) {
      height: 17px;
      background-image: url("../img/zigzag-line-tablet.svg");
    }

    @media (min-width: @desktop-width) {
      height: 23px;
      background-image: url("../img/zigzag-line-desktop.svg");
    }
  }
}

.hover-svg() {
  &:hover path {
    fill: @dark-mint;
  }

  &:focus path {
    fill: @dark-mint-opacity;
  }
}

.hover-icon-svg() {
  &:hover path {
    fill: @tiffany;
    opacity: 1;
  }

  &:focus path {
    fill: @tiffany-opacity;
  }
}


.opacity(@color; @opacity) {
  color: @color;
  opacity: @opacity;
}

.hover-title() {
  &:hover {
    .opacity(@black; 60%);
  }

  &:focus {
    .opacity(@black, 30%);
  }
}
