//Colors

@black: #000000;
@dark-gray: #444444;
@dark: #231F20;
@white: #ffffff;
@neutral: #f1f1f1;
@shadow: #ececec;
@shadow-gray: #c6c6c6;
@tiffany: #63D1BB;
@dark-tiffany: #56c3b2;
@light-tiffany: #62d1ba;
@mint: #59d5bc;
@dark-mint: #46c1ae;
@dark-green: #149080;
@dark-shadow: fade(#000101, 25%);
@border-gray: fade(@dark-gray, 10%);
