//Colors

@black: #000000;
@dark-gray: #444444;
@dark: #231F20;
@white: #ffffff;
@light: #f8f8f8;
@light-gray: #e5e5e5;
@neutral: #f1f1f1;
@shadow: #ececec;
@shadow-gray: #c6c6c6;
@tiffany: #63d1bb;
@tiffany-opacity: fade(@tiffany, 30%);
@dark-tiffany: #56c3b2;
@light-tiffany: #62d1ba;
@mint: #59d5bc;
@dark-mint: #46c1ae;
@dark-mint-opacity: fade(@dark-mint, 30%);
@dark-mind-transparent: fade(@dark-mint, 10%);
@dark-green: #149080;
@dark-shadow: fade(#000101, 25%);
@border-gray: fade(@dark-gray, 10%);
@border-dark-gray: fade(@dark-gray, 30%);
@border-black: fade(@black, 10%);
@white-opacity: fade(@white, 30%);
@modal-white-opacity: fade(@white, 90%);

// Viewports

@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width-only: 767px;
