.catalog__title {
  .padding-mobile();

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  min-height: 177px;

  @media (min-width: @tablet-width) {
    .padding-tablet();

    min-height: 238px;
  }

  @media (min-width: @desktop-width) {
    min-height: 272px;
  }
}

.catalog__content {
  .padding-mobile();

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    .padding-tablet();
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;

  margin-top: 30px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-top: 67px;
    margin-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content:space-between;
    margin-top: 111px;
    margin-bottom: 57px;
  }
}

.catalog__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.catalog__production {
  margin-bottom: 58px;

  @media (min-width: @tablet-width) {
    margin-bottom: 64px;
  }
  @media (min-width: @tablet-width) {
    margin-bottom: 105px;
  }
}
