.contacts__wrapper {
  display: grid;
  grid-template-rows: min-content min-content min-content min-content ;
  justify-content: center;
  align-items: center;

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr 60px;
    padding: 70px 50px 105px 225px;
  }
}

.contacts__title {
  align-self: start;

  margin: 30px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin: 68px 50px 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 80px 10px 35px 0;
    margin: 0;
  }
}

.contacts__list {
  .reset-list();
  padding: 0 30px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    display: flex;
    padding: 0 50px;
    padding-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.contacts__item {
  display: flex;

  margin-bottom: 30px;
}

.contacts__item dt {
  width: 76px;
}

.contacts__item dd {
  margin: 0;
}

.contacts__item a {
  margin: 0;
  padding-bottom: 5px;

  @media (min-width: @tablet-width) {
    margin-right: 50px;
  }
}

.contacts__map {
  justify-self: center;

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
  }
}

.contacts__button {
  justify-self: center;
  margin: 40px 0;
  padding: 16px;
  width: 224px;
  height: 20px;

  @media (min-width: @tablet-width) {
    margin: 55px 0 57px;
    width: 194px;
  }
  @media (min-width: @desktop-width) {
    justify-self: start;
    margin: 0;
  }
}
