.main {
  width: 100%;
}

.main__content {
  @media (min-width: @tablet-width) {
    .padding-tablet();
  }
}

.main__title {
  .padding-mobile();

  min-height: 210px;
  margin: 0;
  padding-top: 73px;

  @media (min-width: @tablet-width) {
    .padding-tablet();

    min-height: 468px;
    padding-top: 154px;
  }

  @media (min-width: @desktop-width) {
    min-height: 465px;
    padding-top: 157px;
  }
}

.main__catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;


  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    min-height: 125px;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }

  .zigzag-fill();
}

.main__catalog-part {
  padding: 24px 150px 31px 30px;

  @media (min-width: @tablet-width) {
    width: 50%;
    padding: 25px 150px 30px 37px;
  }


  &:hover {
    margin-top: -5px;
    padding-bottom: 40px;
  }
}
