.main-nav {
  position: relative;

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    max-width: 1150px;
  }
}


.main-nav__special-list {
  display: none;
  z-index: 2;

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 77px;
    left: 0;

    display: flex;
    min-height: 89px;
  }
}

.special-list__item {
  width: 184px;
  min-height: 90px;
  padding-left: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:first-child {
    padding: 0;
  }
}


.main-nav__delivery {
  display: none;
  height: 89px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 77px;
    right: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
