.main {
  width: 100%;
}

.main__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 490px;

  @media (min-width: @tablet-width) {
    .padding-tablet();
    min-height: 758px;
  }

  @media (min-width: @desktop-width) {
    min-height: 763px;
  }
}

.main__title {

  .padding-mobile();
  flex: 1;

  margin: 0;
  padding-top: 73px;

  @media (min-width: @tablet-width) {
    padding-top: 154px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 157px;
  }
}

.main__catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    margin: 0 auto;
  }
}

.main__catalog-part {
  padding: 24px 150px 31px 30px;


  @media (min-width: @tablet-width) {
    align-self: flex-end;
    width: 50%;
    padding: 26px 150px 47px 36px;

    &:hover {
      padding-bottom: 52px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 52px;

    &:hover {
      padding-bottom: 57px;
    }
  }
}
