.main-nav {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {

    .wrapper-desktop();
  }
}

.main-nav__logo {
  display: flex;
  justify-content: center;
  align-self: center;

  @media (min-width: @tablet-width) {
    justify-content: start;
    flex: 0 0 50%;
  }

  @media (min-width: @desktop-width) {
    justify-content: center;
    flex: 0 0 20%;
  }
}

.site-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 0;
    top: 80px;

    flex-direction: row;
    justify-content: flex-start;
    order: 1;
  }

  @media (min-width: @desktop-width) {
    position: static;
    flex: 0 0 40%;
    order: -1;
  }
}

.site-list__item {
  display: flex;
  align-items: center;

  height: 79px;
  padding-left: 76px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    width: 175px;
  }

  @media (min-width: @desktop-width) {
    width: 184px;
    padding-left: 35px;

    &:first-child {
      padding: 0;
      border-right: solid 1px @shadow;
    }
  }
}

.special-list {
  display: none;

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 80px;
    left: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    order: 3;

    height: 79px;
  }
}

.special-list__item {
  width: 184px;
  padding-left: 35px;

  &:first-child {
    padding: 0;
  }
}

.user-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media (min-width: @tablet-width) {
    flex: 0 0 50%;
    flex-direction: row;
    justify-content: flex-end;
  }

  @media (min-width: @desktop-width) {
    flex: 0 0 40%;
  }
}

.user-list__item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 79px;
  padding-left: 80px;

  @media (min-width: @tablet-width) {
    border-left: solid 1px @shadow;
  }

  &--search {
    @media (min-width: @tablet-width) {
      justify-content: center;

      margin: 0;
      margin-left: -13px;
      padding: 0;
      width: 82px;
    }
  }
}

.user-list__text--search {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.fill-basket {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}

.main-nav__delivery {
  display: none;
  height: 79px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 80px;
    right: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    order: 3;
  }
}
