.page-header__content {

  position: relative;

  min-height: 78px;
  border-bottom: solid 1px @shadow;


  @media (min-width: @tablet-width) {
    .padding-tablet();
    min-height: 88px;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
  }
}

.page-header__logo {

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 22px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    left: 49px;
    z-index: 10;
  }

  @media (min-width: @desktop-width) {
    left: 50%;
    top: -13px;
    transform: translateX(-50%);
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}
