.production {
  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-areas: "title"
    "movie"
    "text"
    "button";

  @media (min-width: @tablet-width) {
    grid-template-areas:
      "movie"
      "title"
      "text"
      "button";
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: min-content 1fr min-content;
    grid-template-areas: "movie title"
      "movie text"
      "movie button";
  }

  &:hover {
    box-shadow: 0 6px 10px @border-black;
  }

  &:active {
    box-shadow: 0 3px 5px @border-black;
  }
}

.production__title {
  grid-area: title;

  margin: 0;
  padding: 21px 12px 26px 90px;

  @media (min-width: @tablet-width) {
    padding: 41px 12px 25px 107px;
  }

  @media (min-width: @desktop-width) {
    padding: 96px 110px 0 0;
  }
}

.production__movie {
  grid-area: movie;
}

.production__description {
  grid-area: text;

  margin: 0;
  padding: 35px 10px 0  34px;

  @media (min-width: @tablet-width) {
    padding: 0 17px 0 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-right: 35px;
  }
}

.production__button {
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 48px;
  margin: 41px 34px 33px;

  @media (min-width: @tablet-width) {
    margin: 42px 42px 46px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
    margin: 26px 0 35px 0;
  }
}
