.reviews {
  width: 100%;
}

.reviews__content {
  .padding-mobile();

  display: grid;
  grid-template-areas: "title"
    "review"
    "button";

  padding-bottom: 45px;

  @media (min-width: @tablet-width) {
    .padding-tablet();

    grid-template-columns: 1fr 175px;
    grid-template-areas: "title button"
      "review review";

    margin-bottom: 65px;
    padding-top: 84px;
    padding-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    .wrapper-desktop();
    max-width: 875px;
    margin-top: 7px;
    margin-bottom: 67px;
    padding-left: 225px;
    padding-top: 80px;
    padding-bottom: 96px;
  }
}

.reviews__list {
  grid-area: review;
}

.reviews__title {
  margin: 0;
  padding: 0;
}

.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__text {
  @media (min-width: @tablet-width) {
    margin: 10px 0 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 3px 65px 42px 0;
  }
}

.reviews__author {
  margin: 33px 0 29px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.reviews__author-nik {
  display: block;
}

.reviews__button {
  grid-area: button;

  margin: 36px 0 0;
  padding: 15px;

  @media (min-width: @tablet-width) {
    margin: -5px 0 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 35px;
  }
}
